<configuration>
   <initial_connection>org.pastiche.ircd.rfc1459.UnregisteredClient</initial_connection>
   <nick_normalizer>org.pastiche.ircd.rfc1459.NickNormalizer</nick_normalizer>
   <channel_normalizer>org.pastiche.ircd.rfc1459.ChannelNormalizer</channel_normalizer>
   <server_normalizer></server_normalizer>

   <commands>
       <commandset context="unregistered">
       	<default>org.pastiche.ircd.rfc1459.UnknownCommand</default>
       	<command>
       	    <name>PASS</name>
       	    <handler>org.pastiche.ircd.rfc1459.PassCommand</handler>
       	</command>
       	<command>
       	    <name>NICK</name>
       	    <handler>org.pastiche.ircd.rfc1459.UnregisteredNickCommand</handler>
       	</command>
       	<command>
       	    <name>USER</name>
       	    <handler>org.pastiche.ircd.rfc1459.UnregisteredUserCommand</handler>
       	</command>
       </commandset>

       <commandset context="connected">
       	<default>org.pastiche.ircd.rfc1459.UnknownCommand</default>
       	<command>
       	    <name>PING</name>
       	    <handler>org.pastiche.ircd.rfc1459.NoOpCommand</handler>
       	</command>
       	<command>
       	    <name>PONG</name>
       	    <handler>org.pastiche.ircd.rfc1459.NoOpCommand</handler>
       	</command>
       	<command>
       	    <name>PASS</name>
       	    <handler>org.pastiche.ircd.rfc1459.PassCommand</handler>
       	</command>
       	<command>
       	    <name>NICK</name>
       	    <handler>org.pastiche.ircd.rfc1459.RegisteredNickCommand</handler>
       	</command>
       	<command>
       	    <name>PRIVMSG</name>
       	    <handler>org.pastiche.ircd.rfc1459.PrivmsgCommand</handler>
       	</command>
       	<command>
       	    <name>NOTICE</name>
       	    <handler>org.pastiche.ircd.rfc1459.NoticeCommand</handler>
       	</command>
       	<command>
       	    <name>LINKS</name>
       	    <handler>org.pastiche.ircd.rfc1459.LinksCommand</handler>
       	</command>
       	<command>
       	    <name>INFO</name>
       	    <handler>org.pastiche.ircd.rfc1459.InfoCommand</handler>
       	</command>
       	<command>
       	    <name>ISON</name>
       	    <handler>org.pastiche.ircd.rfc1459.IsonCommand</handler>
       	</command>
       	<command>
       	    <name>USERHOST</name>
       	    <handler>org.pastiche.ircd.rfc1459.UserhostCommand</handler>
       	</command>
       	<command>
       	    <name>LUSERS</name>
       	    <handler>org.pastiche.ircd.rfc1459.LusersCommand</handler>
       	</command>
       	<command>
       	    <name>MOTD</name>
       	    <handler>org.pastiche.ircd.rfc1459.MotdCommand</handler>
       	</command>
       	<command>
       	    <name>JOIN</name>
       	    <handler>org.pastiche.ircd.rfc1459.JoinCommand</handler>
       	</command>
       	<command>
       	    <name>PART</name>
       	    <handler>org.pastiche.ircd.rfc1459.PartCommand</handler>
       	</command>
       	<command>
       	    <name>QUIT</name>
       	    <handler>org.pastiche.ircd.rfc1459.QuitCommand</handler>
       	</command>
       	<command>
       	    <name>NAMES</name>
       	    <handler>org.pastiche.ircd.rfc1459.NamesCommand</handler>
       	</command>
       	<command>
       	    <name>HELP</name>
       	    <handler>org.pastiche.ircd.rfc1459.HelpCommand</handler>
       	</command>
       	<command>
       	    <name>TOPIC</name>
       	    <handler>org.pastiche.ircd.rfc1459.TopicCommand</handler>
       	</command>
       	<command>
       	    <name>MODE</name>
       	    <handler>org.pastiche.ircd.rfc1459.ModeCommand</handler>
       	</command>
       	<command>
       	    <name>INVITE</name>
       	    <handler>org.pastiche.ircd.rfc1459.InviteCommand</handler>
       	</command>
       	<command>
       	    <name>KICK</name>
       	    <handler>org.pastiche.ircd.rfc1459.KickCommand</handler>
       	</command>
       	<command>
       	    <name>LIST</name>
       	    <handler>org.pastiche.ircd.rfc1459.ListCommand</handler>
       	</command>
       	<command>
       	    <name>TIME</name>
       	    <handler>org.pastiche.ircd.rfc1459.TimeCommand</handler>
       	</command>
       	<command>
       	    <name>VERSION</name>
       	    <handler>org.pastiche.ircd.rfc1459.VersionCommand</handler>
       	</command>
       	<command>
       	    <name>WHO</name>
       	    <handler>org.pastiche.ircd.rfc1459.WhoCommand</handler>
       	</command>
       	<command>
       	    <name>WHOIS</name>
       	    <handler>org.pastiche.ircd.rfc1459.WhoisCommand</handler>
       	</command>
       	<command>
       	    <name>KILL</name>
       	    <handler>org.pastiche.ircd.rfc1459.KillCommand</handler>
       	</command>
       	<command>
       	    <name>AWAY</name>
       	    <handler>org.pastiche.ircd.rfc1459.AwayCommand</handler>
       	</command>
       </commandset>
   </commands>
</configuration>
