<server>
   <name>localhostg</name>
   <network>Pastiche</network>
   <description>IRCD Test Server</description>
   <authenticator>org.pastiche.ircd.SimpleAuthenticator</authenticator>
   <truststore keystore="./localhost.jks" password="localhost" key_password="key_local"/>
   <listener address="127.0.0.1" port="6667" />
   <listener address="127.0.0.1" port="6668" />
   <listener address="127.0.0.1" port="7000" secure="true"/>
   <http-listener address="127.0.0.1" port="8080" />
   <operator name="sysadmin" />
   <operator name="root" />
   <dead_client_timeout>120</dead_client_timeout>
   <unregistered_client_timeout>30</unregistered_client_timeout>
</server>
